<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Image to PDF</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Upload Images to Convert to PDF</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="images" accept="image/*" multiple required>
            <button type="submit">Convert</button>
        </form>
        <div id="countdown" style="display: none;">
            <p>Your file will be deleted in <span id="timer">300</span> seconds.</p>
        </div>

    </div>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', () => {
            document.getElementById('countdown').style.display = 'block';
            let timeLeft = 300;
            const timer = document.getElementById('timer');
            const interval = setInterval(() => {
                timeLeft--;
                timer.textContent = timeLeft;
                if (timeLeft <= 0) {
                    clearInterval(interval);
                    timer.textContent = "expired";
                }
            }, 1000);
        });
    </script>

</body>

</html>